*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
}

section{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    
}

.card{
    width: 450px;
    height: auto;
    background-color: #CFEFE0;
    border-radius: 20px;
    overflow: hidden;
}

.card img{
    width:100%;
    height: 265px;
}


.card__header{
    position: relative;
    
}

.card__header img:first-child{
    border-bottom: solid 2px whitesmoke;
}

.card__imgMe{
    position: absolute;
    width: 200px;
    top: calc(50% + 20px);
    left: calc(50% - 100px);
    

}

.card__imgMe img{
    height: 200px;
    border: solid 2px whitesmoke;
    border-radius: 100%;
}

.card__body{
    text-align: center;
    margin-top: 85px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.card__body h1{
    font-weight: 500;
}

.card__body h2{
    font-weight: 400;
    font-size: 1.1rem;
    color: rgb(1, 151, 151);
}

.card__body > p {
    margin: 25px 0;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

.card__body--info{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    color: rgb(104, 104, 104);
   
}

.card__body--info p, .card__body--info a {
    padding: 20px;
    border: 1px solid rgb(180, 180, 180);
    text-decoration: none;
    transition: .5s;
}
.card__body--info p span, .card__body--info a span{
    margin-right:10px ;
}

.card__body--info a{
    color: rgb(1, 151, 151);
}


.card__footer{
    display: flex;
    width: 100%;
    background-color: rgb(1, 151, 151);
    height: 60px;
    align-items: center;
    transition: .5s;
}
.card__footer a{
    display: block;
    text-decoration: none;    
    width: 100%;
    text-align: center;
    background-color:rgb(1, 151, 151) ;
    color: white;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: .5s;
}

.card__footer:hover{
    color: black;
    background-color:rgb(199, 243, 245);
    transition: .5s;
}
.card__footer:hover a{
    background-color:rgb(199, 243, 245);
    color: black;
    transition: .5s;
}